.user-list-content {
  text-align: center;
  overflow-y: auto;
  height: calc(85vh - 60px);
}

.user-list-content ul {
  list-style-type: none;
  padding: 0;
}

.user-list-content li {
  padding: 10px;
  cursor: pointer;
}

.user-list-content li:hover {
  background-color: #e1e1e1;
}
